@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body,
main {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

p {
  color: #1d1d1d;
  font-size: 1.6rem;
  text-align: center;
}

img {
  border-radius: 10px;
  filter: grayscale(100%);
  width: 100%;
}
